<div class='card mt-2'>
	<div class='card-body'>
		<h1>{{postagem.titulo}}</h1>
		<hr />
		<small>Data de publicação: {{#formatDate}}{{/formatDate}}</small>
		<small>Categoria: {{postagem.categoria.nome}}</small>
		<hr />
		<h5>{{postagem.conteudo}}</h5>
	</div>
</div>